body {
  background-color: rgba(224, 221, 205, 0.86);
  background-repeat: no-repeat;
}

.main-section {
  border: solid;
  border-color: black;
  border-radius: 15px;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 5%;
  background-color: rgb(232, 230, 233)

}

.intro h4 {
  padding-top: 20%;
}

.intro {
  padding: 2%;
}

.special {
  text-align: center;
  font-style: italic;
}

img {
  display: block;
  border: double;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 3%;
}
